
.menu {
    width: 100vw;
    height: 8vh;
    min-width: 200px;
    min-height: 90px;
    background-color: #bbf3d7;
    overflow: auto;
}

.main {
    width: 100vw;
    height: 92vh;
    min-width: 200px;
    min-height: 200px;
    background-color: #fbfbfb;
    display: flex;
}

.row {
    padding: 2px;
}

.left, .right {
    display: inline-block;
    width: 50vw;
    height: calc(92vh - 4px);
    min-height: 200px;
    min-width: 200px;
    margin: 0;
    padding: 2px;
    overflow: auto;
}

.left-all {
    width: 100vw;
}

.left {
    border-right: 2px solid #e1f3d8;
}

.right {
}

.right-hide {
    /* 隐藏元素 */
    display: none;
}

.input-div, .output-div {
    height: calc(92vh - 40px);
    overflow: auto;
    padding-top: 4px;
}

.output-div {
}

/*输入文本*/
.input {
    min-width: calc(50vw - 52px);
    border-color: gray;
    font-size: 14px;
    line-height: 16px;
    resize: vertical; /* 允许垂直调整大小 */
    white-space: pre; /* 保留换行符，但允许自然换行 */
    overflow-x: auto; /* 启用水平滚动条 */
    word-wrap: break-word; /* 允许单词断行 */
}

.input-left-all {
    min-width: calc(50vw - 52px);
    width: calc(100vw - 52px);
}

.editor-container {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.line-numbers {
    width: 30px;
    padding: 2px 2px 0 2px;
    user-select: none;
    color: #aaa;
    background-color: #fbfbfb;
    border-right: 1px solid #ddd;
    white-space: nowrap;
    font-size: 12px;
    text-align: right;
    line-height: 16px;
}


.json-obj-main-1 {
    background-color: #f1faf6;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-width: 100px;
}

.json-obj-main-2 {
    background-color: #f0fafa;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 2px;
    min-width: 100px;
}

.json-obj-main-3 {
    background-color: #f8f8f0;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 2px;
    min-width: 100px;
}

.json-obj-main-4 {
    background-color: #f6f0f6;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 2px;
    min-width: 100px;
}

.json-obj-main-5 {
    background-color: #f0f4f4;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 2px;
    min-width: 100px;
}

.json-obj-main-6 {
    background-color: #f2f2e5;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 2px;
    min-width: 100px;
}

.key-value-out {
    border: 1px solid #dee;
}

.key-value-main {
    font-size: 14px;
    display: flex; /* 使父容器成为 Flex 容器 */
    align-items: center; /* 垂直居中 */
}

.key-value-key {
    display: inline-block;
    text-align: right;
    margin: 2px 0 0 0;
}

.key-type-0 {
    width: 80px;
}

.key-type-1 {
    width: 100px;
}

.key-type-2 {
    width: 120px;
}

.key-type-3 {
    width: 160px;
}

.key-type-4 {
    width: 200px;
}

.key-value-value {
    display: inline-block;
    white-space: pre; /* 保留换行符，但允许自然换行 */
    overflow-x: auto; /* 启用水平滚动条 */
    word-wrap: break-word; /* 允许单词断行 */
}

.key-value-open {
    display: inline-block;
    margin-left: 4px;
    min-width: 48px;
}

.open-string, .open-number, .open-boolean {
    min-width: 44px;
}

.open-object, .open-string-true {
    min-width: 121px;
}

/* 增加字段 */
.add-key-value-main {
    text-align: center;
}

@media (max-width: 600px) {
    .left {
        width: 100vw;
    }

    .right {
        display: none;
    }
}